@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    /* FONTS */
    --FF-H : sans-serif;
    --FF: "Rubik", sans-serif;
    --FS-P: clamp(1.5rem, 3vw + 0.8rem, 2.2rem);
    --FS-S: clamp(1.3rem, 2.5vw + 0.8rem, 2rem);
    --FS-T: clamp(1.3rem, 2.5vw + 0.8rem, 2rem);

    /* COLORS */
    --BGCOLOR: #FBFFED;
    --COLOR-GREEN-DARK: #415B4C;
    --COLOR-GREEN: #5DAA7E;
    --COLOR-GREEN-LIGHT: #D6EEE0;
    --COLOR-P: #F5F5F5;
    --COLOR-ORANGE: #FF816B;
    --COLOR-GRAY: #676767;

    /* MISC */
    --BOARD-SIZE-MULT: 1;
    --TILE-SIZE: clamp(2rem * var(--BOARD-SIZE-MULT), min(13dvw * var(--BOARD-SIZE-MULT), 15dvh * var(--BOARD-SIZE-MULT)), 4rem * var(--BOARD-SIZE-MULT));
    --PADDING-BOARD: calc(var(--TILE-SIZE) / 15);
    --BOARD-BORDER-RADIUS : clamp(1rem, 1.5dvw, 2rem);
    --TILE-BORDER-RADIUS: clamp(0.6rem, 0.8dvw, 1.5rem);
    --ANIMATION-TIME-SPAWN: 0.2s;
}

/* UTILS */
.center{
    text-align: center;
}

body {
    height: 100dvh;
    background-color: var(--BGCOLOR);
    display: flex;
    flex-direction: column;
    font-family: var(--FF);
    overflow: hidden;
}


header
{
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap : 1rem;
}

.header__h1 {
    font-family: var(--FF-H);
    font-size: 3rem;
    color: var(--COLOR-GREEN-DARK);
}

.new-game-btn-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.new-game-btn
{
    border : none;
    background-color: var(--COLOR-ORANGE);
    font: inherit;
    font-size: 1rem;
    font-weight: 450;
    color: var(--BGCOLOR);
    padding: 0 1rem;
    height: 2.5rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.25);
}


.new-game-btn:hover
{
    cursor: pointer;
    opacity: 0.8;
}


.score-wrapper
{
    /* width: calc((var(--TILE-SIZE) + var(--PADDING-BOARD)) * var(--BOARD-SIZE) + var(--PADDING-BOARD)); */
    width: max-content;
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.score-container
{
    flex: 1 1 0;
    width: 7rem;
    border-radius: 10px;
    color: var(--COLOR-P);
    padding: 0.3rem 1.2rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}


.current-score-container
{
    background-color: var(--COLOR-GREEN-DARK);
}  


.best-score-container
{
    background: var(--COLOR-GREEN);
    border: 2px solid #eae7d9;

}


.score-container .score
{
    font-size: 1.2rem;
    font-weight: bold;
}

.score-container .text
{
    font-size: 0.75rem;
    font-weight: 500;
}

main {
    flex: 1 1 0;
    display: grid;
    justify-content: center;
    align-content: start;
    padding: 2rem;
    gap: 1rem;
}


.power-ups-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--COLOR-GREEN-DARK);
    padding: 0.25rem;
    border-radius: var(--BOARD-BORDER-RADIUS);
    height: clamp(2rem, 12dvw, 4rem);
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.25);
}


.power-up
{
    height: 55%;
    position: relative;
}

.power-up figure
{
    height: 100%;
}


.power-up figure img
{
    height: 100%;
    width: auto;
}

.power-up figcaption
{
    position: absolute;
    left: -10000px;
}

.power-up__count
{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    color: #FF85D0;
}

.board {
    background-color: var(--COLOR-GREEN-DARK);
    border-radius: var(--BOARD-BORDER-RADIUS);
    display: grid;
    /* grid-template-columns: repeat(4, calc(var(--TILE-SIZE) + 10px));
    grid-template-rows: repeat(4, calc(var(--TILE-SIZE) + 10px)); */
    align-items: center;
    justify-items: center;
    padding: var(--PADDING-BOARD);
    box-shadow: 0 0 1.8dvw -0.7dvw black;

    position: relative;
    margin-bottom: 3rem;
}


.tile-container {
    background-color: var(--COLOR-GREEN-LIGHT);
    height: var(--TILE-SIZE);
    width: var(--TILE-SIZE);
    border-radius: var(--TILE-BORDER-RADIUS);
    box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.25);
}


.tile {
    position: absolute;
    width: var(--TILE-SIZE);
    height: var(--TILE-SIZE);
    border-radius: var(--TILE-BORDER-RADIUS);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--FS-P);
    font-weight: 600;

    transform-origin: center;
    z-index: 1;
    box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.25)
}


.tile-new {
    animation: appear var(--ANIMATION-TIME-SPAWN) ease-in-out;
}

.tile-merged {
    --ANIMATION-TIME-MERGE: 0.2s;
    animation: pop var(--ANIMATION-TIME-MERGE) ease-in-out;
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }


    80% {
        opacity: 0.9;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.tile-2 {
    background-color: #FFF6EE;
    color: #648D75;
}

.tile-4 {
    background-color: #F8EFB9;
    color: #648D75;
}

.tile-8 {
    background-color: #F4EB54;
    color: #FF8C26;
}


.tile-16 {
    background-color: #FFF21F;
    color: #356E18;
}

.tile-32 {
    background-color: #F58F41;
    color: #F8EFB9;
}


.tile-64 {
    background-color: #FF816B;
    color: #F8EFB9;
}


.tile-128 {
    background-color: #FF593C;
    color: #F8EFB9;
    font-size: var(--FS-S);
}

.tile-256 {
    background-color: #C72B0F;
    color: #F8EFB9;
    font-size: var(--FS-S);
}


.tile-512 {
    background-color: #96FFB2;
    color: #3C636C;
    font-size: var(--FS-S);
}


.tile-1024 {
    background-color: #3FC562;
    color: #FFF21F;
    font-size: var(--FS-T);
}


.tile-2048 {
    background-color: #356E18;
    color: #fff;
    font-size: var(--FS-T);
}


.tile-4096 {
    background-color: #57A8C9;
    color: #E9FFDB;
    font-size: var(--FS-T);
}

.tile-8192{
    background-color: #184D6E;
    color: #E9FFDB;
    font-size: var(--FS-T);
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8dvw;
    color: gray;
}


@media screen and (min-width: 640px) {
   
}


@media screen and (max-width: 768px) 
{
    header
    {
        grid-template-columns: 1fr;
        justify-items: center;
        /* grid-template-rows: repeat(2, 1fr); */
        gap : 1rem;
    }
}


@media screen and (min-width: 1024px) {
    
}



@media screen and (min-width: 1280px) {
 
}